body {
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  background-image: url('assets/images/wallpaper.png');
  background-position: center;
  padding: 30px 0px;
  min-height: 75vh;
  height: auto;
}

.registro-entrenador {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px 30px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  background-color: var(--light-grey);
  box-shadow: 0px 0px 10px 5px rgb(0, 0, 255); /* Cambiar color del borde */
  border-radius: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px 0px 8px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

small {
  color: red;
  font-size: 12px;
}

footer.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: auto;
}
