<div class="navbar">
  <div class="navbar-left">
    <h1 class="app-name">MuscleHub</h1>
  </div>
  <div class="navbar-right">
    <div class="notifications">
      <i class="fas fa-bell"></i>
    </div>
    <div class="account-menu">
      <span>Cuenta</span>
      <i class="fas fa-chevron-down"></i>
      <ul class="dropdown-menu">
        <li>Perfil</li>
        <li>Cerrar sesión</li>
      </ul>
    </div>
  </div>
</div>

<!-- Aquí se cargará el contenido específico de cada página -->
<router-outlet></router-outlet>
