<body>
  
<div class="modo-oscuro-toggle" [class.dark-mode]="modoOscuro" >
  <button (click)="alternarModoOscuro()">
    {{ modoOscuro ? '☀️' : '🌙' }}
  </button>
</div>  

<div class="panel-entrenador" [class.dark-mode]="modoOscuro">

      <h1>Panel del Entrenador</h1>
  <!-- Información del Entrenador -->
  <div class="card">
    <h3>Información del Entrenador</h3>
    <p><strong>Nombre:</strong> Juan Pérez</p>
    <p><strong>Alumnos a cargo:</strong> 15</p>
    <p><strong>Especialidad:</strong> Entrenamiento de fuerza</p>
    <p><strong>Rutinas asignadas:</strong> 8</p>
  </div>

  <!-- Listado de Alumnos -->
  <div class="card">
    <h3>Listado de Alumnos</h3>
    <input
      type="text"
      placeholder="Filtrar por nombre"
      (input)="filtrarAlumnos($event)"
    />

    <table>
      <tbody>
        <tr *ngFor="let alumno of alumnosFiltrados">
          <td style="width: 90%">{{ alumno.nombre }}</td>
          <td style="text-align: right">
            <button (click)="verDetalleAlumno(alumno)" [routerLink]="['/student-details']">Ver</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="boton-agregar" (click)="agregarAlumno()"[routerLink]="['/agregar-alumno']">Agregar</button>
  </div>

  <!-- Listado de Rutinas -->
  <div class="card">
    <h3>Listado de Rutinas</h3>
    <input
      type="text"
      placeholder="Filtrar por nombre"
      (input)="filtrarRutinas($event)"
    />

    <table>
      <tbody>
        <tr *ngFor="let rutina of rutinasFiltradas">
          <td style="width: 90%">{{ rutina.nombre }}</td>
          <td style="text-align: right">
            <button (click)="verDetalleRutina(rutina)" [routerLink]="['/plan-entrenamiento']">Ver</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="boton-agregar" (click)="agregarRutina()" [routerLink]="['/crear-plan']">Agregar</button>
  </div>
</div>

<footer class="footer">
  <p>© 2024 MuscleHub. Todos los derechos reservados.</p>
</footer>
</body>
