body {
  font-family: 'Roboto', sans-serif; /* Usamos la fuente Roboto desde el CSS global */
  justify-content: center;
  background-image: url('assets/images/wallpaper.png');
  background-position: center; /* Centra la imagen */
  padding: 30px 0px;
  height: auto;
}



/* Estilos del Panel */
.panel-entrenador {
  font-family: Arial, sans-serif;
  padding: 0px 20px 20px 20px;
  margin: 0px 250px 20px 250px;
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espaciado entre tarjetas */
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: var(--light-grey); /* gris claro */
  box-shadow: 0px 0px 10px 5px rgb(255, 0, 0);
  border-radius: 10px;
}

.panel-entrenador.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

/* Tarjetas */
.card {
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.panel-entrenador.dark-mode .card {
  background-color: #1e1e1e;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0px;

}
h1.card-title {
  font-size: 1.8rem;
  margin-top: 10px;
}

.card-content label {
  font-weight: bold;
}

.card-content p {
  margin-top: 0.5rem;
  color: #333;
}

.panel-entrenador.dark-mode .card-content p {
  color: #e0e0e0;
}

/* Formulario de Selección */
.form-select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  background-color: #f4f4f4;
  color: #333;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 10px;
  margin-bottom: 30px;
}

.panel-entrenador.dark-mode .form-select {
  background-color: #2a2a2a;
  color: #e0e0e0;
  border: 1px solid #555;
}

/* Botones */
.btn {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  text-align: center;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-primary:disabled {
  background-color: #d6d6d6;
  cursor: not-allowed;
}

.panel-entrenador.dark-mode .btn-primary {
  background-color: #444;
  color: #e0e0e0;
}

.panel-entrenador.dark-mode .btn-primary:hover {
  background-color: #666;
}

/* Tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table th,
table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

table td:last-child {
  text-align: right; /* Alinea el contenido de la última columna a la derecha */
}

table button {
  padding: 8px 12px;
  font-size: 14px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

table button:hover {
  background-color: #0056b3;
}

/* Botón Agregar */
.boton-agregar {
  background-color: #28a745;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 10px;
}

.boton-agregar:hover {
  background-color: #218838;
}

/* Toggle Modo Oscuro */
.modo-oscuro-toggle {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  transition: background-color 0.3s ease, color 0.3s ease; /* Transición para un cambio suave */
  margin-right: 250px;
}

.modo-oscuro-toggle.dark-mode {
  background-color: #121212; /* gris claro */
  color: #e0e0e0;
}

.modo-oscuro-toggle button {
  padding: 10px 10px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 100%;
}

.panel-entrenador.dark-mode .modo-oscuro-toggle button {
  background-color: #e0e0e0; /* Fondo del botón en modo oscuro */
  color: #333; /* Color del texto en modo oscuro */
}

.modo-oscuro-toggle button::before {
  content: '🌙'; /* Luna para modo claro */
}

.panel-entrenador.dark-mode .modo-oscuro-toggle button::before {
  content: '☀️'; /* Sol para modo oscuro */
}

footer.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: auto;
  font-family: 'Roboto', sans-serif; /* Usamos la fuente Roboto desde el CSS global */
}